<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第一个单页应用程序</title>
	<style></style>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
</head>
<body>
	<ul>
		<li><a href="#find">发现音乐</a></li>
		<li><a href="#mine">我的音乐</a></li>
		<li><a href="#myfriend">我的朋友</a></li>
	</ul>
	<div id="main">
		

	</div>
	<div ng-app>
		<input ng-model="val" type="text" name="" id="">
		<input ng-click="val = (val-0) + 1" type="button" value="值+1">
		<h1>{{myval}}</h1>
		<input ng-model="myval" type="text" name="" id="">
	</div>
	<script>
		var type=''
		window.addEventListener("hashchange",function(){
			var hash=window.location.hash
			switch(hash){
				case "#find":
				type='find';
				break;
				case "#mine":
				type='mine';
				break;
				case "#myfriend":
				type='myfriend';
				break;
			}
			$.ajax({
				type:"get",
				url:"onepage.json",
				data:null,
				dataType:"json",
				success:function(data){
					$('#main').html(data[type])
				},
				error:function(){
					alert('error')
				}
			})
		})
	</script>
	<script>
		(function(global,factory){
			factory(global)
		})(window !== "undefined"?window:this,function(window){
			var jQuery=function(selector){
				return new jQuery.fn.init(selector)
			}
			jQuery.fn=jQuery.prototype={
				
			}
			var init=jQuery.fn.init=function(selector){
				var nodes=document.querySelectorAll(selector)
				[].push.apply(this,nodes)
			}
			init.prototype=jQuery.fn
			window.$=window.jQuery=jQuery
		})
	</script>
</body>
</html>