<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第一个单页应用程序</title>
	<style></style>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
</head>
<body>
	<ul>
		<li><a href="#find">发现音乐</a></li>
		<li><a href="#mine">我的音乐</a></li>
		<li><a href="#myfriend">我的朋友</a></li>
	</ul>
	<div id="main">
		

	</div>
	<div ng-app>
		<input ng-model="val" type="text" name="" id="">
		<input ng-click="val = (val-0) + 1" type="button" value="值+1">
	</div>
	<script>
		var type=''
		window.addEventListener("hashchange",function(){
			var hash=window.location.hash
			switch(hash){
				case "#find":
				type='find';
				break;
				case "#mine":
				type='mine';
				break;
				case "#myfriend":
				type='myfriend';
				break;
			}
			$.ajax({
				type:"get",
				url:"onepage.json",
				data:null,
				dataType:"json",
				success:function(data){
					$('#main').html(data[type])
				},
				error:function(){
					alert('error')
				}
			})
		})
	</script>
</body>
</html>