<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angular使用</title>
	<style></style>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
</head>
<body>
<!-- angular实现单页面动态生成结构 -->
	<ul>
		<li><a href="#find">发现音乐</a></li>
		<li><a href="#mine">我的音乐</a></li>
		<li><a href="#myfriend">我的朋友</a></li>
	</ul>
	<script>
		var type=''
		window.addEventListener("hashchange",function(){
			var hash=window.location.hash
			switch(hash){
				case "#find":
				type='find';
				break;
				case "#mine":
				type='mine';
				break;
				case "#myfriend":
				type='myfriend';
				break;
			}
			$.ajax({
				type:"get",
				url:"onepage.json",
				data:null,
				dataType:"json",
				success:function(data){
					$('#main').html(data[type])
				},
				error:function(){
					alert('error')
				}
			})
		})
	</script>
	<!-- angular实现计算器+ -->
	<div ng-app="myApp" ng-controller="calc">
		<input ng-model="A" type="text"> +
		<input ng-model="B" type="text">
		<input ng-click="add()" type="button" value="=">
		<input ng-model="result" type="text">
		<h1>{{A}}</h1>
	</div>
	<script>
		var app=angular.module('myApp',['module1','module2'])
		angular.module('module1',[])
		angular.module('module2',[])
		app.controller('calc',function($scope){
			$scope.A=$scope.B=$scope.result=0
			$scope.add=function(){
				$scope.result=($scope.A-0)+($scope.B-0)
			}
		})
	</script>
</body>
</html>