<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>this is a register page</title>
	<style>
		.ng-cloak{
			display: none
		}
	</style>
</head>
<body>
<!-- view begin-->
	<table ng-app="myApp" ng-controller="registerController as obj">
	<tr>
		<td ng-bind="obj.test"></td>
	</tr>
		<tr>
			<td>用户名:<input type="text" ng-model="userName"></td>
		</tr>
		<tr>
			<td>
				<select ng-model="userType">
					<option value="temp01">student</option>
					<option value="temp02">teacher</option>
					<option value="temp03">doctor</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>密码:<input type="text" name="" ng-model="pwd"></td>
		</tr>
		<tr>
			<td>确认密码:<input type="text" name="" ng-model="confirmPwd"></td>
		</tr>
		<tr>
			<td>注册协议:<input type="checkbox" name="" ng-model="isagree"></td>
		</tr>
		<tr>
			<td><input type="button" name="" value="注册" ng-click="register()"></td>
		</tr>
		<tr>
			<td class="ng-cloak">{{errormsg}}</td>
		</tr>
	</table>
<!-- viem end-->
	<script src="node_modules/angular/angular.js"></script>
	<script>
		var app=angular.module('myApp',[])
		// controller begin
		app.controller('registerController',['$log','$scope',function(a,b){
			// init value
			a.log("hello world!")
			this.test='testing'
			b.userName=''
			b.userType=''
			b.pwd=''
			b.confirmPwd=''
			b.errormsg=''
			b.isagree=false
			// init shijian
			b.register=function(){
				if(b.userName.length<6){
					b.errormsg='用户名长度不能小于6!'
					return
				}
				if(b.pwd.length<6){
					b.errormsg='密码长度不能小于6!'
					return
				}
				if(b.pwd != b.confirmPwd){
					b.errormsg='两次密码输入不一致!'
					return
				}
				var user= new users(b.userName,b.pwd,b.userType)
				// console.log(user)
				var result=user.save()
				result?b.errormsg="注册成功!":b.errormsg="注册失败!"
			}
		}])
		//controller end 
		// model
		function users(name,pwd,type){
			this.name=name
			this.pwd=pwd
			this.type=type
		}
		users.prototype.save=function(){
			var userArr=JSON.parse(window.localStorage.getItem('users')  || '[]')
			// console.log(userArr)
			for(var i=0;i<userArr.length;i++){
				if(userArr[i].name === this.name){
					return false
				}
			}
			// userArr.forEach(function(v,i){
			// 	if(v.name === this.name){
			// 		return false
			// 	}
			// })
			userArr.push({name:this.name,pwd:this.pwd,type:this.type})
			window.localStorage.setItem('users',JSON.stringify(userArr))
			return true
		}
	</script>
</body>
</html>